
<ul class="content_list">
  <li class="contact_list" id="contacts_length">There are <a><%= Contact.all.length %></a> contact</li>
  <% Contact.all.each do |contact| %>
  <li class="contact_list">
    <article>
      <h3><%= contact.first_name %> <%= contact.last_name %> (<%= contact.email%>)</h3>
      <a href="#">Edit</a> | <a href="#">Delete</a> | <a href="/contacts/<%= contact.id %>">More</a>
    </article>
  </li>
  <% end %>
</ul>
